body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
.navbar-brand {
  padding: 5px;
}
.navbar-brand > img {
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}

footer {
    margin: 5em 0;
}

footer li {
  float: left;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
}

@media (max-device-width:480px) {
}
