---
layout: page
title: Andreas - Andi
permalink: /team/andi/
---

<div class="row">
  <div class="col-md-7">
    <p>
     Andreas ist 3D Artist und Mediendesigner bei Ninevillage.
     <br/>
     
     <br/>
     
    </p>
  </div>
  <div class="col-md-5">
    <dl class="dl-horizontal">
      
      <dt><h4>Profil</h4></dt>
      <dd></dd>
      
      <dt>Name</dt>
      <dd>Andreas</dd>
      
      <dt>Nickname</dt>
      <dd>Andi</dd>
      
      <dt>Position</dt>
      <dd>3D Artist und Mediendesigner</dd>
      
      <dt>Alter</dt>
      <dd>21</dd>
      
      <dt>Hobbies</dt>
      <dd>>coming soong<</dd>
      
      <dt>Sprachen</dt>
      <dd>Deutsch, Englisch, Polnisch</dd>
    </dl>
  </div>
</div>

<br/>

<h3>Kenntnisse</h3>
<div class="row">
  <div class="col-md-3">
    <dl>
      <dt>Autodesk Maya</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
      
      <dt>Unity3D</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
    </dl>
  </div>
  
  <div class="col-md-3">
    <dl>
      <dt>Photoshop</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
      
      <dt>Alchemy</dt>
      <dd>{% include _progressbar.html param=20 %}</dd>
    </dl>
  </div>
  
    
  <div class="col-md-3">
    <dl>
      <dt>Blender</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
    </dl>
  </div>
  
  <div class="col-md-3">
    <dl>
      
    </dl>
  </div>
</div>