---
layout: page
title: Andreea Neundorf - Asin
permalink: /team/asin/
---

<div class="row">
  <div class="col-md-7">
    <p>
     Andreea Neundorf ist Sekretärin und Designerin bei Ninevillage.
     <br/>
     Geschickt kämpft sie sich durch unseren Papierkrieg und gestaltet
     Oberflächen für unsere Software.
     <br/>
     Sie hat das Ninevillage-Logo kreiert und bereichert unser Team
     mit ihrer Kreativität.
    </p>
  </div>
  <div class="col-md-5">
    <dl class="dl-horizontal">
      
      <dt><h4>Profil</h4></dt>
      <dd></dd>
      
      <dt>Name</dt>
      <dd>Andreea Neundorf</dd>
      
      <dt>Nickname</dt>
      <dd>Asin</dd>
      
      <dt>Position</dt>
      <dd>Sekretärin und Designerin</dd>
      
      <dt>Alter</dt>
      <dd>28</dd>
      
      <dt>Hobbies</dt>
      <dd>Lesen, Kino, Let's plays</dd>
      
      <dt>Sprachen</dt>
      <dd>Deutsch, Englisch, Rumänisch</dd>
    </dl>
  </div>
</div>

<br/>

<h3>Kenntnisse</h3>
<div class="row">
  <div class="col-md-3">
    <dl>
      <dt>Digitale Zeichnen</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
      
      <dt>Technisches Zeichnen</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>Manga</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
    </dl>
  </div>
  
  <div class="col-md-3">
    <dl>
      <dt>HTML/CSS</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>Flash</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
    </dl>
  </div>
  
  <div class="col-md-3">
    <dl>
      <dt>Photoshop</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
      
      <dt>Illustrator</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
      
      <dt>AutoCAD</dt>
      <dd>{% include _progressbar.html param=70 %}</dd>
    </dl>
  </div>
  
  <div class="col-md-3">
    <dl>
      <dt>Office Word/Excel/PowerPoint</dt>
      <dd>{% include _progressbar.html param=70 %}</dd>
    </dl>
  </div>
</div>