---
layout: page
title: Mohammed Neundorf - Matt
permalink: /team/matt/
---

<div class="row">
  <div class="col-md-7">
    <p>
      Mohammed Neundorf ist Gründer und Inhaber von Ninevillage und ist für 
      das entwickeln der Software zuständig.
      <br/>
      Er entwickelt seit vielen Jahren Software in verschiedenen Bereichen, wie 
      Industrie, Web und Spiele.
      <br/>
      Ebenfalls unterstützt er bei der Entwicklung von verschiedenen Open 
      Source Projekten.
    </p>
  </div>
  <div class="col-md-5">
    <dl class="dl-horizontal">
      
      <dt><h4>Profil</h4></dt>
      <dd></dd>
      
      <dt>Name</dt>
      <dd>Mohammed R.W. Neundorf</dd>
      
      <dt>Nickname</dt>
      <dd>Matt</dd>
      
      <dt>Position</dt>
      <dd>Inhaber und Entwickler</dd>
      
      <dt>Alter</dt>
      <dd>28</dd>
      
      <dt>Hobbies</dt>
      <dd>Lesen, Kino, Videospiele</dd>
      
      <dt>Sprachen</dt>
      <dd>Deutsch, Englisch</dd>
    </dl>
  </div>
</div>

<br/>

<h3>Kenntnisse</h3>
<div class="row">
  <div class="col-md-3">
    <dl>
      <dt>Java / Groovy</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
      
      <dt>C/C++</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>PHP</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>Ruby</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>Python</dt>
      <dd>{% include _progressbar.html param=75 %}</dd>
      
      <dt>C#</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>Basic</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>Objective-C</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>HTML</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
      
      <dt>CSS</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>JavaScript / CoffeeScript</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
    </dl>
  </div>
  
  <div class="col-md-3">
    <dl>
      <dt>Grails</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>Rails</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>Sails</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>GWT</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>PrimeFaces</dt>
      <dd>{% include _progressbar.html param=20 %}</dd>
      
      <dt>CakePHP</dt>
      <dd>{% include _progressbar.html param=30 %}</dd>
      
      <dt>Zend</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>CodeIgniter</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>Cocoa / Cocoa Touch</dt>
      <dd>{% include _progressbar.html param=70 %}</dd>
      
      <dt>Android</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>Express</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
      
      <dt>Sinatra</dt>
      <dd>{% include _progressbar.html param=40 %}</dd>
      
      <dt>Django</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>Flask</dt>
      <dd>{% include _progressbar.html param=40 %}</dd>
      
      <dt>Phonegap</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>Jekyll</dt>
      <dd>{% include _progressbar.html param=100 %}</dd>
      
      <dt>Wordpress</dt>
      <dd>{% include _progressbar.html param=70 %}</dd>
      
      <dt>Joomla</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>Drupal</dt>
      <dd>{% include _progressbar.html param=30 %}</dd>
      
      <dt>Magento</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>Shopware</dt>
      <dd>{% include _progressbar.html param=40 %}</dd>
      
      <dt>Gambio</dt>
      <dd>{% include _progressbar.html param=40 %}</dd>
    </dl>
  </div>
  
  <div class="col-md-3">
    <dl>
      <dt>MySQL</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>PostgreSQL</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>MSSQL</dt>
      <dd>{% include _progressbar.html param=40 %}</dd>
      
      <dt>Oracle</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>SQLite</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
      
      <dt>MongoDB</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>Redis</dt>
      <dd>{% include _progressbar.html param=70 %}</dd>
      
      <dt>CouchDB</dt>
      <dd>{% include _progressbar.html param=40 %}</dd>
      
      <dt>Neo4J</dt>
      <dd>{% include _progressbar.html param=20 %}</dd>
      
      <dt>GORM</dt>
      <dd>{% include _progressbar.html param=40 %}</dd>
      
      <dt>CoreData</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>ActiveRecord</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
    </dl>
  </div>
  
  <div class="col-md-3">
    <dl>
      <dt>Windows</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>OSX</dt>
      <dd>{% include _progressbar.html param=75 %}</dd>
      
      <dt>Linux</dt>
      <dd>{% include _progressbar.html param=70 %}</dd>
      
      <dt>Office</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>Eclipse</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>Netbeans</dt>
      <dd>{% include _progressbar.html param=20 %}</dd>
      
      <dt>IntelliJ IDEA</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>RubyMine / WebStorm / AppCode</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>Sublime Text</dt>
      <dd>{% include _progressbar.html param=100 %}</dd>
      
      <dt>Brackets</dt>
      <dd>{% include _progressbar.html param=70 %}</dd>
      
      <dt>Atom</dt>
      <dd>{% include _progressbar.html param=40 %}</dd>
      
      <dt>Notepad++</dt>
      <dd>{% include _progressbar.html param=70 %}</dd>
      
      <dt>VIM</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>Cloud 9</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>Apache</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>NGINX</dt>
      <dd>{% include _progressbar.html param=70 %}</dd>
      
      <dt>Xcode</dt>
      <dd>{% include _progressbar.html param=90 %}</dd>
      
      <dt>SEO</dt>
      <dd>{% include _progressbar.html param=60 %}</dd>
      
      <dt>SEM</dt>
      <dd>{% include _progressbar.html param=30 %}</dd>
      
      <dt>CRO</dt>
      <dd>{% include _progressbar.html param=70 %}</dd>
      
      <dt>SMM</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
    </dl>
  </div>
</div>