---
layout: page
title: Nami Neundorf - Nami
permalink: /team/nami/
---

<div class="row">
  <div class="col-md-7">
    <p>
      Nami Neundorf ist Spieletesterin bei Ninevillage. Durch ihren Scharfsinn
      hat sie unzählige Mängel in unterschiedlichen Spielen entdeckt.
      <br/>
      Durch ihre Leidenschaft für mobile Spiele für Kinder ist sie aus dem
      Team gar nicht mehr weg zu denken.
    </p>
  </div>
  <div class="col-md-5">
    <dl class="dl-horizontal">
      
      <dt><h4>Profil</h4></dt>
      <dd></dd>
      
      <dt>Name</dt>
      <dd>Nami Neundorf</dd>
      
      <dt>Nickname</dt>
      <dd>Nami</dd>
      
      <dt>Position</dt>
      <dd>Spieletesterin</dd>
      
      <dt>Alter</dt>
      <dd>5</dd>
      
      <dt>Hobbies</dt>
      <dd>Lesen, Stikeez sammeln, Malen, iPad</dd>
      
      <dt>Lieblings TV Serien</dt>
      <dd>Doc McStuffins, Dora, Kleine Einsteins</dd>
      
      <dt>Sprachen</dt>
      <dd>Deutsch, Englisch</dd>
    </dl>
  </div>
</div>

<br/>

<h3>Kenntnisse</h3>
<div class="row">
  <div class="col-md-6">
    <dl>
      <dt>iPad Games</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>iPhone Games</dt>
      <dd>{% include _progressbar.html param=80 %}</dd>
      
      <dt>Android Tablet Games</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>Android Phone Games</dt>
      <dd>{% include _progressbar.html param=50 %}</dd>
      
      <dt>PC Games</dt>
      <dd>{% include _progressbar.html param=40 %}</dd>
    </dl>
  </div>
  
  <div class="col-md-6">
    <dl>
      <dt>Malen</dt>
      <dd>{% include _progressbar.html param=100 %}</dd>
      
      <dt>Basteln</dt>
      <dd>{% include _progressbar.html param=100 %}</dd>
    </dl>
  </div>
</div>