<footer>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled">
        <li class="pull-right"><a href="#top">Nach oben</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        {% assign pages = site.pages | sort:"weight"  %}
          {% for node in pages %}
            {% if node.title and node.footernav %}
              {% if page.url == node.url %}
                <li class="active"><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
              {% else %}
                <li><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <p>Copyright &copy; 2011-2015 Ninevillage. Alle Rechte Vorbehalten.</p>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
  $(document).ready(function() {
    $('#header').on('affixed.bs.affix', function() {
      $('.content').css('margin-top', '92px')
    });
    $('#header').on('affixed-top.bs.affix', function() {
      $('.content').css('margin-top', '0px')
    });
  });
</script>