<footer>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled">
        <li class="pull-right"><a href="#top">Back to top</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        {% assign pages = site.pages | sort:"weight"  %}
          {% for node in pages %}
            {% if node.title and node.footernav %}
              {% if page.url == node.url %}
                <li class="active"><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
              {% else %}
                <li><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-sm-7">
      <p>Copyright &copy; 2011-2020 Ninevillage. All rights reserved.</p>
    </div>
    <div class="col-md-6 col-sm-5">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <ul class="list-unstyled">             
              <li>
                <a href="http://www.youtube.com/c/Ninevillage" title="Ninevilage auf Youtube">
                  <i class="fa fa-youtube-play fa-2x"></i>
                </a>
              </li>
              
              <li>
                <a href="https://twitter.com/Ninevillage" title="Ninevillage auf Twitter">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li>
              
              <li>
                <a href="https://www.facebook.com/Ninevillage" title="Ninevillage auf Facebook">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
              
              <li>
                <a href="http://de.linkedin.com/company/ninevillage" title="Ninevillage auf LinkedIn">
                  <i class="fa fa-linkedin fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/Ninevillage" title="Ninevillage auf Github">
                  <i class="fa fa-github fa-lg"></i>
                </a>
              </li>
              
              <li>
                <a href="https://bitbucket.org/ninevillage/" title="Ninevillage auf BitBucket">
                  <i class="fa fa-bitbucket fa-lg"></i>
                </a>
              </li>
              
              <li>
                <a href="https://trello.com/ninevillage" title="Ninevillage auf Trello">
                  <i class="fa fa-trello fa-lg"></i>
                </a>
              </li>
              
              <li>
                <a href="https://www.pinterest.com/ninevillage/" title="Ninevillage auf Pinterest">
                  <i class="fa fa-pinterest-p fa-lg"></i>
                </a>
              </li>
              
              <li>
                <a href="http://www.reddit.com/user/Ninevillage/" title="Ninevillage auf Reddit">
                  <i class="fa fa-reddit fa-lg"></i>
                </a>
              </li>
              
              <li>
                <a href="mailto:info@ninevillage.com" title="E-Mail an Ninevillage">
                  <i class="fa fa-envelope fa-lg"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
  $(document).ready(function() {
    $('#header').on('affixed.bs.affix', function() {
      $('.content').css('margin-top', '92px')
    });
    $('#header').on('affixed-top.bs.affix', function() {
      $('.content').css('margin-top', '0px')
    });
  });
</script>
