---
layout: page
title: Referenzen
permalink: /referenzen/
nav: true
weight: 20
---

<blockquote>Projektzähler für Projekte ohne Freigabe zur Veröffentlichung: 58</blockquote>
<hr/>

{% include _gridview.html gridid="references" griddata=site.data.references %}

<hr/>

<h2>Kunden</h2>
<br/>

{% include carousel/_simple.html data=site.data.customers name="customers" %}

<blockquote>TODO: Grafiken und Links</blockquote>

<blockquote>TODO: Projektbeschreibungen</blockquote>

<blockquote>TODO: Kunden Karussell</blockquote>